
<!-- About Experience Section -->
<section id="about_section" class="bg-neutral-200 p-8 ">
    <div class="container mx-auto">
        <div class="w-full p-6">
            <h2 class="text-2xl font-semibold text-center mb-8">About Me</h2>
            <div class="flex justify-center items-center gap-8">
                <div class="w-1/2">

                    <p>I'm <span class="text-orange-500">Jan Ivan Orpilla</span>, an experienced Fullstack PHP Developer with nearly a decade of professional expertise in the dynamic world of web development. My journey in the realm of code began over eight years ago, and I've since honed my skills to become a versatile and detail-oriented programmer.</p>
                    <br>
                    <p>My passion lies in creating web applications, websites, and systems using PHP. With a strong foundation in Symfony, Yii2 and Laravel frameworks, I bring ideas to life and deliver scalable, modular, and maintainable code. I've learned to craft visually appealing designs by using frontend frameworks like Bootstrap CSS, Foundation,  Tailwind CSS and Tailwind Elements.</p>
                    <br>
                    <a class="underline"
                       href="#contact_section"
                       data-te-smooth-scroll-init>Hit me up</a>
                </div>
                <img
                        src="{{ asset('/images/dp.png') }}"
                        class="h-auto max-w-sm rounded-full shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30"
                        alt="" />
            </div>
        </div>
    </div>
</section>