<!-- Work Experience Section -->
<section id="experience_section" class="bg-zinc-800 text-white py-12">
    <div class="container mx-auto">
        <div class="w-full p-6">
            <h2 class="text-2xl font-semibold text-center mb-8">Experience</h2>
            <!--Pills navigation-->
            <div class="flex  justify-center items-center gap-8">
                <ul
                        class="mr-4 flex list-none flex-col flex-wrap pl-0"
                        role="tablist"
                        data-te-nav-ref>
                    <li role="profile" class="flex-grow text-center">
                        <a
                                href="#technopian"
                                class="my-2 block rounded px-4 pb-3.5 pt-4 font-mono uppercase leading-tight  text-orange-500  bg-transparent data-[te-nav-active]:!bg-orange-500 data-[te-nav-active]:text-white"
                                id="pills-technopian"
                                data-te-toggle="pill" data-te-target="#technopian"
                                data-te-nav-active
                                role="tab" aria-controls="technopian" aria-selected="true"
                        >Technopian</a
                        >
                    </li>
                    <li role="presentation" class="flex-grow text-center">
                        <a
                                class="my-2 block rounded px-4 pb-3.5 pt-4 font-mono uppercase leading-tight  text-orange-500  bg-transparent data-[te-nav-active]:!bg-orange-500 data-[te-nav-active]:text-white"
                                href="#sourcefit" id="pills-technopian" data-te-toggle="pill" data-te-target="#sourcefit" role="tab"
                                aria-controls="sourcefit" aria-selected="false" >Sourcefit</a
                        >
                    </li>
                </ul>

                <!--Pills content-->
                <div class="my-2  w-1/2">
                    <div
                            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                            id="technopian"
                            role="tabpanel"
                            aria-labelledby="technopian"
                            data-te-tab-active>

                        <h1 class="text-xl font-bold mb-4">SOFTWARE ENGINEER (PHP)<p class="text-sm">January 2018 ~ June 2023</p></h1>

                        <ul class="list-disc pl-6">
                            <li>To create and maintain web app using the company owned framework</li>
                            <li>To apply the specifications given by the clients.</li>
                            <li>In this job, I’m mostly handling business logic on the back-end side since front-end side is systematically prepared.</li>
                            <li>To optimize code and query so that it will be able to handle large amounts of traffic</li>
                        </ul>
                        <br>
                        <p class="flex gap-4">
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            PHP
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Javascript
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            CSS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            MySql
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            JQuery
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            JQuery UI
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Yii2
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            MVC
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Bootstrap CSS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Composer
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            PHPMyAdmin
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Adminer
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            SQLyog
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Apache
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            SVN
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            TortoiseSVN
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            OOP
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            SOLID
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            TDD
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Winscp
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Putty
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            AWS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            CRON jobs
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            PHPStorm
                        </div>

                        </p>
                    </div>
                    <div
                            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                            id="sourcefit"
                            role="tabpanel"
                            aria-labelledby="sourcefit">
                        <h1 class="text-xl font-bold mb-4">WEB DEVELOPER (Back-end/Front-end)<p class="text-sm">June 2015 ~ December 2017</p></h1>
                        <ul class="list-disc pl-6">
                            <li>To maintain the websites of the clients.</li>
                            <li>To create new websites that will be used by the clients.</li>
                            <li>To add different functionalities that are needed for the websites.</li>
                            <li>To upload and point the websites to the domain.</li>
                            <li>To apply new technology on all of their websites.</li>
                        </ul>
                        <br>
                        <p class="flex gap-4">
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            PHP
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            MySql
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Javascript
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            CSS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            HTML5
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            CPanel
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Plesk
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Apache
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            SSL/TLS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Filezilla
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            GoDaddy
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            PSD to HTML
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            CMS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            JQuery
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            JQuery UI
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            JQuery Cropper
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Domain Management
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            CRON jobs
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            VS Code
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Bootstrap CSS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Foundation CSS
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            PhotoShop
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            SEO
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Technical SEO
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            On-page SEO
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Google Analytics
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Page Optimization
                        </div>
                        <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                            Resources Minification
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>