
<header class="bg-zinc-800 text-white py-5">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <h1 class="text-3xl font-bold">
                JAN IVAN <span class="text-orange-500">ORPILLA</span>
            </h1>
            <p class="font-mono">
                FULLSTACK <span class="text-orange-500">PHP DEVELOPER</span>
            </p>
        </div>
        <nav class="flex justify-between items-center font-mono">
            <ol class="marker:text-orange-500 flex justify-start">
                <li class="ml-9 mr-2">
                    <a class="hover:text-orange-500 hover:underline"
                       href="#about_section"
                       data-te-duration="500"
                       data-te-smooth-scroll-init>About</a>
                </li>
                <li class="ml-9 mr-2">
                    <a class="hover:text-orange-500 hover:underline"
                       href="#experience_section"
                       data-te-duration="400"
                       data-te-smooth-scroll-init>Experience </a>
                </li>
                <li class="ml-9 mr-2">
                    <a class="hover:text-orange-500 hover:underline"
                       href="#works_section"
                       data-te-duration="300"
                       data-te-smooth-scroll-init>Works</a>
                </li>
                <li class="ml-9">
                    <a class=" hover:text-orange-500 hover:underline"
                       href="#contact_section"
                       data-te-duration="200"
                       data-te-smooth-scroll-init>Contact Me</a>
                </li>
            </ol>
            <div class="ml-5">
                <a href="/Orpilla.pdf" target="_blank" class="bg-transparent border font-mono border-orange-500 py-2 px-4 hover:bg-orange-500 hover:border-orange-500 transition duration-300 ease-in-out">Resume</a>
            </div>

        </nav>
    </div>

</header>
<div class="bg-neutral-700 py-3">

    <div class="container mx-auto flex justify-between items-center">
        <!-- Social Media Links -->
        <div class="flex space-x-4 text-white">
            <a href="https://www.linkedin.com/in/jan-ivan-orpilla-1b8878bb/" target="_blank">
                <i class="fab fa-linkedin fa-2xl"></i>
            </a>
            <a href="https://github.com/jiorpilla" target="_blank">
                <i class="fa-brands fa-square-github fa-2xl"></i>
            </a>
            <a href="https://www.instagram.com/janivanorpilla/" target="_blank">
                <i class="fab fa-instagram fa-2xl"></i>
            </a>
            <!--            <a href="#">-->
            <!--                <svg class="w-[35px] h-[35px] fill-[#ffffff]" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">-->

            <!--                    &lt;!&ndash;! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. &ndash;&gt;-->
            <!--                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>-->

            <!--                </svg>-->
            <!--            </a>-->
        </div>
        <div></div>
    </div>

</div>
