
<section id="skills_section" class="bg-neutral-700 text-white py-12">

    <div class="container mx-auto">

        <h2 class="text-2xl font-semibold text-center mb-8">Skills & Tools</h2>
        <div class="flex justify-center">

            <div class="gap-4 w-8/12">
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Active Record
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Adminer
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Agile
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Apache
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    API
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    AWS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Bootstrap CSS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    CloudPanel
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Codeigniter
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Composer
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    CMS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    CPanel + WHM
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    CRON jobs
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    CSS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    CSS3
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Curl
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Docker
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Doctrine
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Domain Name Management
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    DRY
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Eloquent
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Figma
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Filezilla
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Foundation CSS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Git
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Github
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    GoDaddy
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Google Analytics
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    HTML5
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Javascript
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    JQuery
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    JQuery Cropper
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    JQuery UI
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    JSX
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Laravel
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Let's Encrypt
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    MVC
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    MySql
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    NginX
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Node JS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    NPM
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    On-page SEO
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    OOP
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Page Optimization
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    PhotoShop
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    PHP
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    PHPMyAdmin
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    PHPStorm
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Plesk
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    PSD to HTML
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Putty
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    ReactJS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Rest Api
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    SEO
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Shell Script
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Slim (PHP Microframework)
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    SOLID
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    SSL/TLS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    SQL
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    SQLite
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    SQLyog
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    SVN
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Symfony
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Tailwind CSS
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Tailwind Elements
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Technical SEO
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Terminal
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    TDD
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    TortoiseSVN
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Typescript
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Varnish Cache
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Vite
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    VueJs
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    VS Code
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Webpack
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Webpack Encore (Symfony)
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Wordpress
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Winscp
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Yarn
                </div>
                <div class="font-mono inline-block whitespace-nowrap rounded-full bg-orange-500 px-4 pb-[0.45em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-white">
                    Yii2
                </div>
            </div>
        </div>
    </div>

</section>